/* My custom spreadsheet */
html, body {
    height: 100%;
    width: 100%;
}

/* Navigation Bar */
.custom-nav {
    background: #202020;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
	border-bottom: solid #008FFF 4px;
    z-index: 9999;
}

.custom-nav #logo {
    display: inline-block;
    height: 46px;
}

.custom-nav #links {
    height: 46px;
    list-style: none;
    position: fixed;
    right: 0;
    top: 0;
}

.custom-nav #links > li {
    height: 100%;
    display: inline-block;
    padding: 3px 10px 0px 10px;
    background: #202020;
}

.custom-nav #links > li:hover {
    background: #008FFF;
}

.custom-nav #links > li > a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}


/* Hero */
#hero {
    background: url("https://ioth8a-dm2305.files.1drv.com/y4m201ur-VYmt2e48fllt0As548FKUQ3SGQpX6wKFACCpoqVNCMo1yl-EyQPzJd8-U7f-gUdEKEttPFNaaBl-MtiFSdZe3N3zsEHRkZYn_ye1YLybxx_vQVjNJNXkep8x6RH0uSj0C3fyq7n_5ijQol_XHOLyUWeJf1Cwv_QijbCdApCaZtwz0CV_UclljCrESLfaCHKdu0Q18JvmiHhxyiQw?width=1080&height=720&cropmode=none");
    background-size: cover;
    background-position: center bottom;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: -1;
    border-bottom: solid #008FFF 3px;
}

#hero > h1 {
    color: #000000;
    padding: 1px;
}


/* Image Folders */
.ifol {
    height: 300px;
    padding: 0;
}

.ifol > a:hover {
    text-decoration: none;
}

.ifol .strip {
    width: 100%;
    height: 50px;
    background: #202020;
    border-bottom: solid #008FFF 3px;
}

.ifol h2 {
    color: #5F5F5F;
    display: block;
    float: right;
    margin: 6px 10px 0 0;
}

.ifol:hover h2 {
    color: #8F8F8F;
}

.ifol h3 {
    color: #FFFFFF;
    display: block;
    float: left;
    margin: 9px 0 0 10px;
}

.ifol h4 {
    color: #5F5F5F;
    display: block;
    float: right;
    margin: 14px 5px 0 0;
}